/* Base */
body {
    /* background: #F3F3F3; */
    background-color: #ffffff;
    background: #fff;
    padding: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.section {        
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: 500;
    border-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-color: #E0E0E0;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    width: 90%;
  }

/* Container */
.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Column */
.column {
    padding: 10px 10px;
    box-sizing: border-box;

    @media (max-width: 900px) {
        & {
            flex-basis: 50%;
            width: 50%;
        }
    }

    @media (max-width: 600px) {
        & {
            flex-basis: 100%;
            width: 100%;
        }
    }
}
.twocolumn {
    flex-basis: 50%;      
    width: 50%;
}
.threecolumn {
    flex-basis: 33.3%;      
    width: 33.3%;
}

/* Article (Component) */
.article {
    background: #FFF;
    margin: 0 0 5px;
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(#000, 0.2); 
    cursor: pointer;*/
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 260px;
}

.article:hover {
    box-shadow: 0 2px 4px rgba(#000, 0.2),
    0 4px 8px rgba(#000, 0.2);
}

/* .article:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
} */

.article__category {
    display: inline-block;
    /* background: #212121;*/
    padding: 8px 10px;
    margin: 0 0 10px;
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.article__date {}

.article__description {
    color: #666;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

.article__title {
    margin: 0 0 10px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}   

.wrapper1 {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
    display: flex;     
}

.wrapper2 {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */  
}

.cardImage {    
    padding-right: 5px;
    width: 50%;
    float:left; 
    vertical-align: middle;
}

.cardImage1 {    
    aspect-ratio: auto 16 / 1;
    height: 260px;
    width: 234px;
}

.cardImage2 {    
    aspect-ratio: auto 260 / 60;
    height: 80px;
    width: 360px;
}

.cardDetails {
    padding-left: 5px;
    float: left; /* add this */
    width: 100%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
    width: fit-content;
    object-fit: cover;
  }
  .author-image {
    width: 45px;
    height: 45px;
    clip-path: circle(70%);
    border-radius: 100%;    
    float: left;
    height: 2.5rem;
    width: 2.5rem;
  }
  .author-div {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
  }
  .author-member {
    
    border-radius: 100%;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    color:teal;
    text-align: center;
    padding: 1px;
  }
  .author-name {
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-weight: 600;
  }
  
  .dt {
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    font-size: 10px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-weight: 400;
  }

  .bookmark {
    /* color: rgba(0, 0, 0, 0.54); */
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;    
  }

  .dl
  {
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
  }

  .av{
    min-width: 0;
    display: flex;
  }

  .audio {
    font-size: 1rem;
    transform: translateY(-1.25px);
    fill: rgb(117, 117, 117);
    padding-left: 6px;
    position: relative;
    width: 1em;
    height: 1em;
    line-height: 20px;
    font-weight: 400;
  }